<div class="structure">
    <h1>Select a genre and theme for your video game, and we'll generate some ideas for you!</h1>

    <button mat-raised-button color="accent" [matMenuTriggerFor]="genre">
        Game Genre
    </button>

    <mat-menu #genre="matMenu">
        <div *ngFor="let genre of genres">
            <button mat-menu-item [matMenuTriggerFor]="theme" (click)="selectGenre(genre)" >
                {{genre}}
            </button>
        </div>
    </mat-menu>

    <mat-menu #theme="matMenu">
        <div *ngFor="let theme of themes">
            <button mat-menu-item [matMenuTriggerFor]="setting" (click)="selectTheme(theme)" [disabled]="!genreSelected">
                {{theme}}
            </button>
        </div>
    </mat-menu>

    <mat-menu #setting="matMenu">
        <div *ngFor="let setting of settings">
            <button mat-menu-item (click)="generateIdeas(selectedGenre, selectedTheme, setting)" [disabled]="!themeSelected">
                {{setting}}
            </button>
        </div>
    </mat-menu>
    
    
    <p *ngIf="selectedSetting">
        Genre: {{selectedGenre}}
        Theme: {{selectedTheme}}
        Setting: {{selectedSetting}}
    </p>
    
    <div *ngIf="chatideas.story.length > 0">
        <h2>Chat GPT Idea</h2>
        <ul>
            <li *ngFor="let story of chatideas.story">
                <strong>Story:</strong> {{ story }}<br>
            </li>
        </ul>
    </div>

    <div *ngIf="ideas.story.length > 0">
        <h2>Ideas</h2>
        <ul>
            <li *ngFor="let story of ideas.story">
                <strong>Story:</strong> {{ story }}<br>
            </li>
        </ul>

        <div *ngIf="ideas.image">
            <h2>Image</h2>
            <img [src]="ideas.image" alt="Generated image">
        </div>
    </div>
</div>